* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form-box {
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  align-self: baseline;
  padding: 5px;
}

ul {
  margin: 20px;
  list-style-type: none;
}

.error-box {
  margin: 20px;
}
